﻿@model BackendTest.Core.Models.Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(x=>x.Class.Id)
    <div class="form-group">
        @Html.LabelFor(x => x.StudentName)
        @Html.TextBoxFor(x => x.StudentName, "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Age)
        @Html.TextBoxFor(x => x.Age, "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Gpa)
        @Html.TextBoxFor(x => x.Gpa, "", new { @class = "form-control" })
    </div>
    <input type="submit" class="btn btn-default" value="Submit" />
}

