﻿@model IEnumerable<BackendTest.Core.Models.Student>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x=>x.StudentName)</th>
                <th>@Html.DisplayNameFor(x=>x.Age)</th>
                <th>@Html.DisplayNameFor(x=>x.Gpa)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="stu-row" data-classid="@item.Class?.Id" style="display:none;">
                    <td>@item.StudentName</td>
                    <td>@item.Age</td>
                    <td>@item.Gpa</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Student" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-controller="Student" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a id="create_student_btn" style="display:none;">Create</a>
</div>