﻿@model BackendTest.Core.Models.Class
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)
    <div class="alert alert-warning">
        Are you sure to delete?
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ClassName)
        @Html.DisplayFor(x => x.ClassName)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Location)
        @Html.DisplayFor(x => x.Location)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.TeacherName)
        @Html.DisplayFor(x => x.TeacherName)
    </div>
    <input type="submit" class="btn btn-default" value="Yes!" />
    <a asp-action="Index" class="btn btn-default">No</a>
}

