﻿@model BackendTest.Core.Models.Class
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        @Html.LabelFor(x => x.ClassName)
        @Html.TextBoxFor(x => x.ClassName, "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Location)
        @Html.TextBoxFor(x => x.Location, "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.TeacherName)
        @Html.TextBoxFor(x => x.TeacherName, "", new { @class = "form-control" })
    </div>
    <input type="submit" class="btn btn-default" value="Submit" />
}

