﻿@using BackendTest.Core.Models
@model IEnumerable<BackendTest.Core.Models.Class>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var students = ViewData["Students"] as IEnumerable<Student>;
}
<div style="margin-top:20px;">
    <div class="panel panel-default">
        <div class="panel-heading">Classes</div>
        <div class="panel-body">
            <table class="table table-hover" id="class_table">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["ClassNameSortParm"]">@Html.DisplayNameFor(model => model.ClassName)</a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["LocationSortParm"]">@Html.DisplayNameFor(model => model.Location)</a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["TeacherNameSortParm"]">@Html.DisplayNameFor(model => model.TeacherName)</a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="clickable-row" data-classid="@item.Id">
                            <td>
                                @Html.DisplayFor(modelItem => item.ClassName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeacherName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-action="Create">Create</a>
        </div>
    </div>

</div>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">Students</div>
        <div class="panel-body">
            @Html.Partial("_StudentTablePartial", students, ViewData)
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('#class_table').on('click', '.clickable-row', function (event) {
            $(this).addClass('active').siblings().removeClass('active');
            debugger;
            var classId = $(this).attr('data-classid');
            if (classId) {
                $('tr.stu-row').hide();
                $('tr.stu-row[data-classid="' + classId + '"]').show();
            }
            $("#create_student_btn").attr('href', '/Students/Create?classId=' + classId);
            $("#create_student_btn").text('Create for ' + $(this).find('td:nth-child(1)').text());
            $("#create_student_btn").show();
        });
    </script>
}
